* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #193549;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    margin-top: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="range"] {
    padding: 10px;
    margin: 10px 0;
    background-color: var(--base);
    border: none;
}

img {
    margin-top: 50px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}